DATABASE_URL=postgresql://{{ production_umami_database_user }}:{{ production_umami_database_password }}@db:5432/{{ production_umami_database_name }}
APP_SECRET={{ production_umami_app_secret }}
TWO_FACTOR_ENCRYPTION_KEY={{ production_umami_two_factor_encryption_key }}
DISABLE_TELEMETRY=1
